* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* overflow-x:hidden; */
}

@font-face {
	font-family: "CustomFont";
	src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf")
		format("truetype");
}
@font-face {
	font-family: "OutfitFont";
	src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
		format("truetype");
}

:root {
	--White: hsl(0, 0%, 100%);
	--Stone-100: hsl(30, 54%, 90%);
	--Stone-150: hsl(30, 18%, 87%);
	--Stone-600: hsl(30, 10%, 34%);
	--Stone-900: hsl(24, 5%, 18%);
	--Brown-800: hsl(14, 45%, 36%);
	--Rose-800: hsl(332, 51%, 32%);
	--Rose-50: hsl(330, 100%, 98%);
}

body {
	height: 100vh;
	width: 100vw;
}

main {
	width: 100%;
	height: 100%;
	padding: 1rem;
	background-color: var(--White);
	border-radius: 1rem;
}

img {
	object-fit: cover;
	border-radius: 0.5rem;
	width: 100%;
}

img,
h1 {
	margin-bottom: 15px;
}

.title {
	font-family: "CustomFont";
	font-size: 2rem;
	color: var(--Stone-900);
	font-weight: 400;
}

header .top__para {
	font-family: "OutfitFont";
	font-weight: 400;
	font-size: 1rem;
	margin-bottom: 2.5rem;
	color: var(--Stone-600);
}

/* preparation time styles */

.middle .Preparation {
	font-family: "OutfitFont";
	font-weight: 400;
}

.prep__title {
	font-weight: 500;
}

.Preparation ul li::before {
	content: "•";
	font-size: 20px;
	position: relative;
	top: 3px;
	color: var(--Rose-800);
	margin-right: 20px;
}

.Preparation {
	background-color: var(--Rose-50);
	padding: 1rem;
	border-radius: 0.5rem;
}

.Preparation .items .link {
	font-size: 1rem;
	list-style-type: none;
	color: var(--Stone-600);
}

.Preparation .items span {
	font-weight: 500;
	color: var(--Stone-900);
}

.Preparation,
.ingredient {
	margin-bottom: 15px;
}

.prep__title {
	color: var(--Rose-800);
}

.prep__title,
.ingredient__title {
	margin-bottom: 15px;
}

/* ingredient componenet styles */

.middle .ingredient {
	font-family: "OutfitFont";
	font-weight: 400;
}

.ingredient__title {
	font-weight: 500;
	font-family: "CustomFont";
	color: var(--Brown-800);
}
.ingredient ul li::before {
	content: "•";
	font-size: 20px;
	position: relative;
	top: 3px;
	color: var(--Rose-800);
	margin-right: 20px;
}

.ingredient .items {
	margin-left: 15px;
}

.ingredient .items .link {
	font-size: 1rem;
	list-style-type: none;
	color: var(--Stone-600);
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid var(--Brown-800);
	margin: 1em 0;
	padding: 0;
}

/* instructoins component style */
.instructions .items {
	font-family: "OutfitFont";
	font-weight: 400;
	margin-left: 2rem;
	margin-bottom: 20px;
}

.instruct__title {
	font-weight: 500;
	font-family: "CustomFont";
	color: var(--Brown-800);
	margin-bottom: 15px;
}

.instructions span {
	color: var(--Stone-900);
	font-weight: 500;
}

.instructions .link {
	font-weight: 400;
	color: var(--Stone-600);
	margin-bottom: 1rem;
	font-size: 1rem;
}

ol li::marker {
	color: var(--Brown-800);
}

/* nuttirtion componenet style */

table {
	border-collapse: collapse;
	width: 100%;
	border: transparent;
}

th,
td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid var(--Stone-150);
}

.nutrition {
	font-family: "OutfitFont";
	font-weight: 400;
	/* margin-left: 2rem; */
	margin-bottom: 20px;
}

.nutri__title {
	font-weight: 500;
	font-family: "CustomFont";
	color: var(--Brown-800);
	margin-bottom: 15px;
}

.nutrition .nutri__para {
	color: var(--Stone-600);
}

.nutri__para,
.nutri__table {
	margin-left: 2rem;
}

.nutrition tr {
	color: var(--Stone-600);
}

.nutrition .tdata {
	color: var(--Brown-800);
	font-weight: 600;
}
